@use "./constants.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Roboto", sans-serif;
	color-scheme: dark;
}

input {
	height: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	font-size: 1rem;
	color: map-get(constants.$colors-foreground, "dark");
	font-family: "Roboto", sans-serif;
	border-radius: constants.$dimens-border-radius;
	border: 1px solid map-get(constants.$colors-background, "shadow");

	&:focus {
		color: map-get(constants.$colors-foreground, "base");
	}

	&[type="submit"] {
		background-color: map-get(constants.$colors-background, "base");
		border: 1px solid map-get(constants.$colors-background, "dark");
		cursor: pointer;

		&:hover {
			background-color: map-get(constants.$colors-background, "light");
		}
	}
}

label {
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	margin: auto 0;
}
