@use "../constants.scss";

.messageBox {
	padding: 1rem;
	background-color: map-get(constants.$color-background, "base");
	box-shadow: constants.$preset-shadow;

	* {
		font-size: 1rem;
	}

	.infoSection {
		display: flex;
		flex-direction: row;

		* {
			color: map-get(constants.$color-foreground, "dark");
		}

		strong {
			font-family: "Roboto", sans-serif;
			flex: 1;
		}

		code {
			font-family: "Roboto Mono", monospace;
		}
	}

	p {
		margin-top: 0.5rem;
	}
}
