$color-background: (
	shadow: hsl(220, 8%, 8%),
	dark: hsl(220, 8%, 16%),
	base: hsl(220, 8%, 24%),
	light: hsl(220, 8%, 32%)
);

$color-foreground: (
	dark: hsl(0, 0%, 80%),
	base: hsl(0, 0%, 96%)
);

$preset-shadow: 0 0 2px map-get($color-background, "shadow");

$dimens-border-radius: 4px;
