$color-background: (
	shadow: hsl(220, 8%, 0%),
	dark: hsl(220, 8%, 8%),
	base: hsl(220, 8%, 16%),
	light: hsl(220, 8%, 24%)
);

$color-foreground: (
	dark: hsl(0, 0%, 88%),
	base: hsl(0, 0%, 96%)
);
